<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lucky Tempeh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- google fonts -->
    <!-- Css link -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/~/Content/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/lightbox.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/preloader.css">
    <link rel="stylesheet" href="~/Content/image.css">
    <link rel="stylesheet" href="~/Content/icon.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header id="navigation" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <h1 class="navbar-brand">
                    <a href="#body"><img src="~/img/luckytempeh.png" height="100" width="109" alt=""></a>
                </h1>
                <!-- /logo -->
            </div>

            <!-- main nav -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <ul id="nav" class="nav navbar-nav menu">
                    <li><a href="#top">Home</a></li>
                    <li><a href="#features">Service</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#pricing-table">Price</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#testimonial">Testimonial</a></li>
                    <li><a href="#contact-form">Contact</a></li>
                </ul>
            </nav>
            <!-- /main nav -->

        </div>
    </header>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <a href="#"><img src="~/img/luckytempeh.png" alt="" width="80" height="84"></a>
                            <p>All rights reserved © Lucky Tempeh @DateTime.Now.Year</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false">
    </script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/lightbox.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/html5lightbox.js"></script>
    <script src="~/Scripts/jquery.mixitup.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/jquery.scrollUp.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
